<% include common/header.html %>
<script type="text/javascript" src="/javascripts/socket.io.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<p>Home Page</p>

<script>
    $(function(){
        var userid = prompt("input userid");
        var socket = new io.connect("http://localhost:8100");
        var roomid = prompt("input roomid");

        var addMsg = function(msg) {
            $("<li>").text(msg).prependTo($("#messageArea ul"));
        };

        var sendMsg = function(json) {
            var t = JSON.stringify(json);
            console.log(t);
            socket.emit("message", t);
        };

        addMsg("hello " + userid);

        socket.on("connect", function(){
            $("#transportName").text("connect via " + socket.socket.transport.name);
            var data = {
                uri: 'joinroom',
                userId: userid,
                roomId: roomid
            };
            sendMsg(data);
        });

        socket.on("message", function(message){
            addMsg(message);
        });

        $("#submitButton").click(function(event){
            msg = $("#msg").val();
            var data = {
                uri: 'msg',
                userId: userid,
                roomId: roomid,
                msg: msg
            };
            sendMsg(data);
        });
    });
</script>
</head>
<body>
<div id="transportName"></div>
<textarea id="msg" rows="10" cols="100"></textarea><br />
<input id="submitButton" type="button" value="submit!">
<div id="messageArea">
    <ul></ul>
</div>
<% include common/footer.html %>