<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body screen_capture_injected="true">
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
<p>Welcome <%= locals.userName || 'Friend' %></p>